services:
  minio:
    image: minio/minio
    container_name: minio-do-an-server
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console UI
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - D:/MinIO/minio-data-do-an-server:/data
    command: server /data --console-address ":9001"
